@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&display=swap");

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --brand-color: #0d6efd;
  --brand-color-deep: #0352c8;
  --semi-white: #e9e9e9;
  --white: #fff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scroolbar Style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Typography */

.bg-brand {
  background-color: var(--brand-color) !important;
}

.pills {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}
.light-bg-primary {
  background-color: #edf2f9;
  color: #0d6efd;
}
.light-bg-success {
  background-color: #ccf6e4;
  color: #198754;
}
.light-bg-warning {
  background-color: #f2f6cc;
  color: #ffc107;
}
.light-bg-danger {
  background-color: #f3bbc1;
  color: #dc4468;
}
.light-bg-info {
  background-color: #bbe3f3;
  color: #44b4dc;
}

.shape-icons {
  font-size: 40px;
  vertical-align: middle;
  border-radius: 50%;
  padding: 10px;
}
.shape-icons svg {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 12px;
  margin-top: 0px;
}

/* Scroolbar Style */

/* Header styles */

.preloader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center !important;
  align-content: center !important;
  color: var(--brand-color);
}
/* .preloader-content {
  border-color: var(--brand-color);
  margin-top: 20% !important;
} */

.brand-text {
  -webkit-animation: fadein 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal
    forwards;
  animation: fadein 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal forwards;
  padding-left: 1rem;
  color: var(--brand-color) !important;
  font-weight: 900;
  letter-spacing: 0.01rem;
  font-size: 1.45rem;
  text-transform: uppercase;
  transition: all 1s ease;
}
.brand-text:hover {
  color: navy !important;
}

.search-input:focus {
  border-color: rgba(251, 252, 251, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(232, 234, 232, 0.6) !important;
  outline: 0 none !important;
}

/* navbar animation for menu */

/* @media (min-width: 768px) {
  .dropdown-menu-end {

  }
} */

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.dropdown-menu-end {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

/* Sidebar text */

.sidebar-nav {
  width: var(--offcanvas-width) !important;
  /* top: var(--topNavbarHeight) !important; */
  /* height: calc(100% - var(--topNavbarHeight)); */
  height: calc(100%);
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all 0.5s ease;
  float: right;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.toogle-icon {
  transition: all 0.5s ease;
}
.toogle-icon:hover {
  transform: rotate(90deg);
}

.bg-brand .nav-item a {
  color: #fff !important;
}

.bg-brand .navbar-nav a {
  color: #fff;
}
.bg-brand .nav-item .dropdown-item {
  color: var(--brand-color) !important;
}
.text-brand {
  color: var(--brand-color) !important;
}
.text-sw {
  color: var(--semi-white);
}
.sidebar .nav-link {
  color: #333;
  border-radius: 3px;
  font-size: large;
  transition: all 0.3s;
}
.sidebar .nav-link.active,
.sidebar .nav-link:focus,
.sidebar .nav-link:hover {
  background-color: var(--brand-color);
  color: var(--white) !important;
  box-shadow: 0px 3px 10px var(--brand-color);
}
.sidebar .nav-link:hover {
  padding-left: 20px !important;
}
@media only screen and (min-width: 600px) {
  .main {
    margin-left: var(--offcanvas-width) !important;
  }

  .offcanvas-header .btn-close {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .dropdown-menu-end {
    left: auto !important;
    right: auto !important;
  }
}

.offcanvas-header a,
.navbar a {
  text-decoration: none;
}

.greeting-text {
  font-size: 35px;
  margin-top: 30px !important;
}
.card-height {
  min-height: 100px;
  border-radius: 10px;
  transition: all 500ms ease;
}

.card-height:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4) !important;
}

/* sidebar profile */
.sidear-profile img {
  height: 100px;
  width: 100px;
}

/* Login Page */

.happy-login {
  max-width: 100%;
  max-height: 100%;
}

.auth-form input {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--semi-white);
  font-size: large;
}
.auth-form input:focus,
.auth-form input:active {
  border: 1px solid var(--brand-color);
  outline: none;
}
.auth-form button {
  background-color: var(--brand-color);
  color: var(--white);
  padding: 1rem;
  font-size: large;
  border-radius: 10px;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .auth-form input {
    padding: 1rem;
  }
}
.auth-form .form-label {
  display: none;
}
.auth-form input[type="checkbox"] {
  padding: 0.5rem;
}
.auth-form button:hover {
  color: var(--white);
  background-color: var(--brand-color-deep);
}
.auth-form .form-check-label {
  margin-left: 1rem;
  font-size: large;
}

.heart-fun {
  transition: all 0.5s ease;
  cursor: pointer;
}

/* content styleing */

.the-shadow {
  /* box-shadow: 0 3px 3px #888; */
  border-bottom: 1px solid #ccf6e4;
}
.the-shadow:last-child {
  border-bottom: 1px solid transparent;
}

/* content styleing */
